/*-- Imported .less --*/
@font-face {
  font-family: 'label';
  src: url('../FONTS/GothamRnd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../FONTS/GothamRnd-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sub-title';
  src: url('../FONTS/gothamrnd-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'medium';
  src: url('../FONTS/GothamRnd-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'title';
  src: url('../FONTS/linotype_-_universltpro-ultracondensed-webfont.svg#univers_lt_pro59ultraCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clock';
  src: url('../FONTS/DS-DIGI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*-- General Styles --*/
.reflect {
  -webkit-box-reflect: below -54px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(12%, transparent), to(rgba(255, 255, 255, 0.54)));
  position: absolute;
}
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  overflow: hidden;
  width: 1024px;
  height: 768px;
  margin: 0px !important;
  background-image: url('../IMAGES/BG.jpg');
}
bodysvg {
  fill: white;
}
.greybox {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  font-family: 'medium';
  color: white;
  font-size: 28px;
}
.greybox p {
  margin: 50px;
}
h1 {
  font-family: "title";
  font-size: 72px;
  color: #a4dbe8;
}
h2 {
  font-family: "medium";
  font-size: 36px;
  color: white;
}
#trans > svg {
  background-color: rgba(0, 0, 0, 0.8);
}
.domain {
  fill: none;
  stroke: white;
}
.dot_group > .name,
.axis {
  fill: white;
  font-family: "label";
  filter: url(#outline);
  font-size: 19px;
}
.dot {
  filter: url(#glowie);
  font-size: 24px;
  fill: #a4dbe8;
}
.dot.buyer {
  filter: url(#outline);
  fill: #f0c135;
  stroke: #f0c135;
  font-size: 32px;
}
.dot.seller {
  filter: url(#glowie);
  fill: none;
  stroke-width: 3px;
  stroke: #7ac441;
}
.dot.eq_price {
  fill: #00ff00;
}
.dot_group .dot {
  font-size: 32px;
}
.dot_group .buyer {
  filter: url(#glowie);
}
.dot_group .buyer.square {
  font-size: 56px;
}
.dot_group .circle {
  font-size: 56px;
}
.winner_circle {
  fill: #a4dbe8;
  fill-opacity: 0.2;
  stroke: white;
  stroke-width: 2px;
  filter: url("#dot_glow");
}
.seller_dot {
  fill: #7ac441;
}
#trans svg {
  fill: white;
}
#dist svg {
  fill: white;
}
polygon {
  stroke-linejoin: round;
}
