/*-- Imported .less --*/
@import "colors.less";
@import "fonts.less";


/*-- General Styles --*/
.reflect {
	-webkit-box-reflect: below -54px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(12%, transparent), to(rgba(255, 255, 255, 0.54)));
	position: absolute;
}

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	overflow:hidden;
	width: 1024px;
	height: 768px;
	margin: 0px !important;
	background-image: url('../IMAGES/BG.jpg');
	
	&svg {
		fill:white;
	}
}

.greybox {
	position: absolute;
	background-color:rgba(0,0,0,0.65);
	font-family: 'medium';
	color:white;
	font-size:28px;
	
	& p {
		margin:50px;
	}
}

h1 {
	font-family: "title";
	font-size:72px;
	color:@lightblue;
}

h2 {
	font-family:"medium";
	font-size:36px;
	color:white;
	
}

/////////////////
/////Charts/////
///////////////

#trans>svg{background-color: @black}

////^^Temporary^^/////

.domain{
	fill: none;
	stroke: white;
}

.dot{
	font-size: 1.5em;
	&.buyer{
		fill: @orange;
		stroke: @orange;
		font-size: 2em;
	}
	&.seller{
		fill: @logo-green;
		stroke-width: 2px;
		stroke: @logo-green;
	}
}

.seller_dot{
	fill: @logo-green;
}

#trans {
	& svg {
		fill:white;
	}
}

#dist {
	& svg {
		fill:white;
	}
}