/*-- Imported .less --*/
@font-face {
  font-family: 'label';
  src: url('../FONTS/GothamRnd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../FONTS/GothamRnd-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sub-title';
  src: url('../FONTS/gothamrnd-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'medium';
  src: url('../FONTS/GothamRnd-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'title';
  src: url('../FONTS/linotype_-_universltpro-ultracondensed-webfont.svg#univers_lt_pro59ultraCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clock';
  src: url('../FONTS/DS-DIGI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*-- General Styles --*/
.reflect {
  -webkit-box-reflect: below -54px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(12%, transparent), to(rgba(255, 255, 255, 0.54)));
  position: absolute;
}
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  overflow: hidden;
  /*width: 1024px;
	height: 768px;*/

  width: 1920px;
  height: 1080px;
  margin: 0px !important;
  background-image: url('../IMAGES/BG.jpg');
}
bodysvg {
  fill: white;
}
.greybox {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  font-family: 'medium';
  color: white;
  font-size: 28px;
}
.greybox p {
  margin: 50px;
}
h1 {
  font-family: "title";
  font-size: 72px;
  color: #a4dbe8;
}
h2 {
  font-family: "medium";
  font-size: 36px;
  color: white;
}
#trans > svg {
  background-color: rgba(0, 0, 0, 0.8);
}
.domain {
  fill: none;
  stroke: white;
}
.dot_group > .name,
.dots > .name,
.axis {
  fill: white;
  font-family: "label";
  filter: url(#outline);
  font-size: 19px;
}
.name.key {
  font-size: 24px;
}
.dot {
  filter: url(#glowie);
  font-size: 24px;
  fill: #a4dbe8;
}
.dot.buyer {
  filter: url(#outline);
  fill: #f0c135;
  stroke: #f0c135;
  font-size: 32px;
}
.dot.seller {
  filter: url(#glowie);
  fill: none;
  stroke-width: 3px;
  stroke: #7ac441;
}
.dot.seller.filled {
  fill: black ;
}
.dot.eq_price {
  fill: #00ff00;
}
.dot_group .dot {
  font-size: 32px;
}
.dot_group .buyer {
  filter: url(#glowie);
}
.dot_group .buyer.square {
  font-size: 56px;
}
.dot_group .circle {
  font-size: 56px;
}
.winner_circle {
  fill: #a4dbe8;
  fill-opacity: 0.2;
  stroke: white;
  stroke-width: 2px;
  filter: url("#dot_glow");
}
.seller_dot {
  fill: #7ac441;
}
#trans svg {
  fill: white;
}
#dist svg {
  fill: white;
}
polygon {
  stroke-linejoin: round;
}
.chord {
  fill: none;
  stroke: #ad1aac;
  stroke-opacity: 0.5;
  filter: url("#phallic_noodle");
}
.wheat {
  filter: url("#glowie");
}
#news_bg {
  position: fixed;
  top: 0px;
  width: 1920px;
  height: 1080px;
  background-color: blue;
  z-index: -20;
}
#flashContent {
  position: fixed;
  top: 730px;
  z-index: 10;
}
* {
  margin: 0;
  padding: 0;
}
.news_block {
  width: 100%;
  height: 836px;
}
.barWrap {
  width: 100%;
  margin-left: 0px;
}
.barWrap.top {
  -webkit-transition: margin-left 0.5s ease-in;
}
.barWrap.mid {
  -webkit-transition: margin-left 0.7s ease-in;
}
.barWrap.bottom {
  -webkit-transition: margin-left 1s ease-in;
}
.barWrap.inactive {
  margin-left: -100%;
}
.barWrap.inactive.bottom {
  margin-left: 100%;
}
.news_bar {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  background-color: blue;
  z-index: 20;
  display: inline-block;
  /*	float:left; */

}
.news_bar.top {
  width: 1075px;
  background-color: #cacaca;
  height: 54px;
}
.news_bar.top.flag {
  /*	margin-top:53px;*/

  background-color: rgba(0, 0, 0, 0);
  content: " ";
  width: 0;
  height: 0;
  border-top: 54px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 54px solid #cacaca;
}
.news_bar.mid {
  background-color: rgba(16, 6, 159, 0.5);
  width: 1730px;
  height: 108px;
}
.news_bar.mid h1 {
  text-transform: uppercase;
  color: white;
  font-size: 7em;
  width: auto;
  font-family: title;
  margin-top: .15em;
  float: left;
  margin-left: 350px;
  line-height: 108px;
}
.news_bar.mid.flag {
  background-color: rgba(0, 0, 0, 0);
  content: " ";
  width: 0;
  height: 0;
  border-top: 108px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 108px solid rgba(16, 6, 159, 0.5);
}
.news_bar.bottom {
  height: 37px;
  width: 1920px;
  background-color: #cacaca;
}
.news_bar.bottom p {
  line-height: 37px;
  font-size: 35px;
  color: black;
  font-family: label;
}
#newswrapper {
  width: 1920px;
  height: 1080px;
}
.news_block {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease-in;
  padding: 0;
  margin: 0;
}
.news_block.inactive {
  opacity: 0;
}
.news_text {
  text-transform: uppercase;
  color: white;
  font-size: 7em;
  width: auto;
  font-family: title;
}
.news_column {
  box-sizing: border-box;
  padding: 40px;
  height: 100%;
  display: inline-block;
}
.news_column.right {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin: 0;
  float: right;
  width: 750px;
}
.news_column.left {
  float: left;
  width: 58%;
}
.news_column.left img {
  box-shadow: 8px 12px 22px black;
}
#news_region,
#news_description {
  width: 100%;
  display: block;
}
#news_box {
  background-image: url("../IMAGES/news_box.png");
  margin: 0;
  padding: 0;
  width: 750px;
  height: 788px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 4px 3px rgba(255, 255, 255, 0.5);
}
#news_box h1,
#news_box h2,
#news_box h3 {
  text-shadow: none;
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  padding-left: 33px;
}
#news_box h1 {
  text-transform: uppercase;
  color: white;
  font-size: 7em;
  width: auto;
  font-family: title;
  line-height: .8em;
  padding-top: .3em;
  font-size: 3.5em;
  text-shadow: 0 0 4px #f0c135;
}
#news_box h2 {
  text-transform: uppercase;
  color: white;
  font-size: 7em;
  width: auto;
  font-family: title;
  color: #06023d;
  font-size: 5.5em;
  background-color: rgba(202, 202, 202, 0.66);
  padding-top: .25em;
  line-height: .7em;
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 4px 2px white;
  border-bottom: 2px solid #10069f;
  outline-offset: -15px;
}
#news_box h3 {
  text-transform: uppercase;
  color: white;
  font-size: 7em;
  width: auto;
  font-family: title;
  margin-top: .5em;
  line-height: .9em;
  text-shadow: 4px 5px 2px black;
}
.newsborder {
  box-shadow: inset 5px -20px 30px rgba(0, 0, 0, 0.8);
}
